body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(206, 205, 205);
}

.grid {
  position: absolute;
  width: 560px;
  height: 300px;
  border: solid black 1px;
  margin-top: 500px;
  background-color: rgb(158, 158, 158);
}

h1 {
  text-align: center;
}

.block {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: rgb(15, 236, 236);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.user {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: rgb(103, 4, 196);
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(212, 20, 58);
}
